# Supabase Configuration
VITE_SUPABASE_URL=https://ooclgunuvtvckaxlugsg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_bP7oKDWlg30ysUX5LtIpWw_J7smqIPM

# App Configuration
VITE_APP_NAME=PinjamKu
VITE_APP_VERSION=2.0.0
